/* fix ie6 "peekaboo bug" using the "holly hack". Note, this style only gets applied to ie6 */
* html .wrapper {
  height: 0.1%;
}

/* * IE5/Win-specific CSS -ensures #container wraps all content on window resize */
@media tty {
  i{content:"\";/*" "*/}} * html #container { height: 1%; } /*";}
}

/*
a img,:link img,:visited img {
  border: none;
}
*/

body {
  text-align: center;
}

/* basic style */
h1,h2,h3,h4,h5,h6,pre,code,p {font-size: 1em;}
dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0;}
a img,:link img,:visited img {border: none;}
address {font-style: normal;}
p, td {
  line-height: 1.8em;
}
code, kbd {
  font-size: 1.25em;
}

/* ie6win */
/* IE/Win fixes for various layouts */
* html #onecolumn #header {
  margin-right: -3px;
}
* html #onecolumn #header,
* html #twocolumn-left #header, * html #twocolumn-right #header,
* html #twocolumn-liquid-left #header, * html #twocolumn-liquid-right #header {
  padding-bottom: 1px;
}
* html #twocolumn-left #main-content, * html #twocolumn-right #main-content {
  	width: 459px;
}
* html #threecolumn #main-content {
  width: 409px;
}

/* ie5mac */
/*\*//*/
/* Undoing IE/Win fixes */
* html #onecolumn #header {
  margin-right: 0;
}
* html #twocolumn-left #header, * html #twocolumn-right #header,
* html #twocolumn-liquid-left #header, * html #twocolumn-liquid-right #header {
  padding-bottom: 0;
}
* html #twocolumn-left #main-content, * html #twocolumn-right #main-content {
  width: 479px;
}
* html #threecolumn #main-content {
  width: 429px;
}

@media tty {
  i{content:"\";/*" "*/}} td { font-size: 0.8em; } /*";}
}


/* Basic HTML style */
body {
  font: 76% "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  color: #444;
  background: #fff;
  margin: 0;
  padding: 0;
}
blockquote {
  margin: 1em 2em;
  font-style: italic;
}
caption {
  font-weight: bold;
  color: inherit;
  background: #eee;
  border-bottom: 0;
  padding: 0.3em 1em;
}
dd {
  margin: 1em 2em;
}
dl {
  margin: 2em 0;
}
dt {
  font-weight: bold;
}
hr {
  margin: 1.5em 0;
  color: silver;
  background: silver;
  border-color: silver;
  border-style: none;
  height: 1px;
}

li {
  margin: 1em 0;
}
table {
  border: solid 1px #ccc;
  border-color: #e6e6e6;
}
td {
  vertical-align: top;
  padding: 0.5em;
}
th {
  text-align: left;
  color: #444;
  background: #ccc;
  padding: 0.5em;
}
ol, ul {
  margin: 2em 0;
  padding-left: 1em;
}


/* Nested HTML elements, and basic classes */
ol li {
  list-style-type: decimal;
  margin-left: 2em;
}
ul li {
  margin-left: 2em;
  list-style-type: square;
}
td p {
  margin-top: 0;
}

/* Set the stage with main layout tweaks */
#container {
  /* width: 718px; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  /* margin: 0 auto; */
  padding-top: 10px;
  background-color: #fff;
  border-color: #fff;
}

#header {
  font: normal 1em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  color: #888;
  border-top: solid 3px #fff;
  padding: 0;
  padding-bottom: 10px;
  margin: 0 0 1.5em 0;
}

#sidebar {
  font: normal 1.15em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  padding: 0 0 0 0;
  background: #fff;
  width: 120px;
  float: left;
}

#link {
  font: normal 0.9em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  background: #fff;
  float: left;
}

#links {
  padding-left: 10px;
}

div.ta {
  padding-left: 20px;
}

div#sidebar p {
  margin-top: 0;
  margin-bottom: 10px;
}
div#sidebar hr {
  width: 110px;
  color: silver;
  background-color: silver;
}


#main-content {
  background: #fff;
  margin-left:120px;
  padding-left: 20px;
  border-left: 1px #DCDCDC solid;
}

#main-content .wrapper {
  margin: 0;
  padding: 0 25px;
}

#footer {
  width:100%;
  clear: both;
  color: #888;
  padding: 0 1em 1em 1em;
  border-bottom: solid 3px #777;
  margin-bottom: 1px;
  border-bottom-color: #fff;
}

#main-content td p {
  margin: 0 0 1em 0;
}

/* Custom font definitions */
/*
h1,h2,h3,h4,h5,h6 {
  font-family: "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
}
*/
h1 {
  font-size: 2.4em;
  letter-spacing: 0.2em;
  font-weight: normal;
  padding: 1em 25px 0 25px;
  color: #C7C7C7;
}
h2 {
  margin: 0 0 0.5em 0;
  font-size: 1.7em;
  font-weight: normal;
  border-bottom: double 3px #C7C7C7;
  border-bottom-color: #eee;
  padding: 0 0 0.2em 0;
  color: #888;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0 0.3em 0;
  color: #666;
  background: #FFFFFF url("./Images/line.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  /* -webkit-border-image: -webkit-gradient(linear, left center, right center, from(#555), to(#fff)) 20 20 20 20 / 0 0px 1px 0 repeat stretch; */
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.2em;
  padding: 0 0 0.2em 0;
  margin: 0.6em 0 0 0.4em;
  border-bottom-color: #888;
  color: #444;
}
h5 {
  font-size: 1.2em;
  border-bottom: dotted 1px #C7C7C7;
  border-bottom-color: #C7C7C7;
  color: #888;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  border-left: solid 1.2em #777;
  border-left-color: #888;
  padding-left: 0.6em;
  color: #ccc;
}
p {
  margin: 1em 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
a:link {
  color: #001463;
}
a:visited {
  color: #001453;
}
a:hover {
  color: #FF8C00;
}

/*-------- my styles ---------*/

div#selectLang p { 
  text-align: right;
  color: rgb(136, 136, 136);
  font-family: "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  font-size: 12px;
  line-height: 0px;
  letter-spacing: normal;
  padding: 2em 0 1em 25px;
}

div#titleImage p {
  padding: 0 25px 0 0;
  margin: 0;
}

img#titleImage {
  padding: 0 25px 1em 0;
  margin: 0;
  width: 550px;
}

div#g_title {
  margin: 0;
}

div#g_title p, div#g_description p, div#footer p, div#modify p {
  margin: 0 0 0 0;
}

.description {
  font: normal 1em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  color: #666;
  background: #e6e6e6;
  padding: 3px 25px 2.2em 25px;
  margin: 0;
  line-height: 1;
}

p.contents {
  font: normal 1.15em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  word-spacing: 20px;
  line-height: 1.5em;
  padding: 0 0 1.5em 0;
}

div#link p {
  color: #888;
}

div#links p {
  color: #888;
}

div#links a:link {
  color: #888;
}
div#links a:visited {
  color: #888;
}
div#links a:hover {
  color: #FF8C00;
}

div.g_body {
  padding: 1.5em 0 3em 0;
}

div.g_body p {
  font: normal 14px "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  margin: 0 0 0 0;
  line-height: 1.5;
}

div#modify {
  text-align: right;
  padding: 20px 0 0 0;
}

div#oldnews {
  width: 53em;
  text-align: right;
  padding: 20px 0 0 0;
}


div#validCheck {
  text-align: right;
}
div#validCheck p {
  margin-top: 1.5em;
}
div#validCheck img {
  height: 31px;
  width: 88px;
}

img.Manga {
  float: right;
  height: 160px;
  margin: 0 0 2em 2em;
}

div.pub {
  padding: 0 0 1em 0;
}

div.pub_body {
  padding: 1.5em 0 2em 0;
}

div.pub_body p {
  font: normal 14px "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  margin: 0 0 0 0;
  line-height: 1.5;
}

span.myname{
  text-decoration: underline;
}

span.pubtitle{
  font-weight: bold;
}

span.bookname{
  font-style: italic;
}

dl {
  margin: 0 0 0 0;
}

dt {
  width: 9em;
  font: normal 1.15em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  line-height: 1.5em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  cursor:pointer;
}

dt:hover {
  color: #FF8C00;
}

dd {
  color: #696969;
  margin: 0 0 0 0;
  padding: 0 0 0 1em;
  line-height: 1.5;
  overflow:hidden;
  background:#fff;
}

div.bib p{
  font: normal 14px "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  margin: 0 0 0 0;
  line-height: 1.4;
  overflow:hidden;
  background:#fff;
}

div.mat_body {
  margin: 0 0 15px 0;
}

span.mattitle {
  font: normal 16px "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
}

span.mat {
  word-spacing: 20px;
  margin: 0 0 0 1em;
}

ul {
  width: 53em;
  line-height: 1.5em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

li {
  font: normal 1.15em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  line-height: 1.5em;
  padding: 0 0 0 0;
  margin: 0 0 0.5em 0;
}

span.news {
  color: #696969;
  font: normal 0.9em "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
}

ol {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

dt {
  font: normal 14px "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Verdana", "メイリオ", "Meiryo", "MS Pゴシック", sans-selif;
  margin: 0 0 0 0;
  line-height: 1.4;
  overflow:hidden;
  background:#fff;
}
